.table {
  .tablechild {
    border-style: none;
    background-color: #4d44b5;
  }
  .tableCell {
    color: white;
    .icon {
      color: #f56841;
      gap: 10px;
      font-size: 18px;
      padding: 1px;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .cellWrapper {
    display: flex;
    align-items: center;
  }

  .tindakan {
    padding: 5px;
    border-radius: 5px;

    &.Inpatient {
      color: white;
      background-color: red;
    }

    &.Outpatient {
      color: white;
      background-color: green;
    }
  }
}
