.clock {
  background-color: #4d44b5;
  filter: opacity(80%);
  border-radius: 20px;
  box-shadow: 20px 16px 12px -9px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 20px 16px 12px -9px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 20px 16px 12px -9px rgba(0, 0, 0, 0.61);
  color: white;
  font-size: 50px;
  text-align: center;
  width: 500px;
  height: 70px;
}
