@import 'react-calendar/dist/Calendar.css';

.calendar {
  border-radius: 10px;
  box-shadow: 2px 11px 23px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 11px 23px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 23px 5px rgba(0, 0, 0, 0.75);
  background-color: white;
  color: #4d44b5;
  font-size: 13px;
  font-weight: blod;
}
